:root > * {
  --md-primary-fg-color:        #0c3450ff;
  --md-accent-fg-color:         #eb8339ff;
  --md-typeset-a-color:         #047eaaff;
}

.md-banner {
  background-color: chocolate;
}

.nt-card {
    text-align: center;
}

.authors .nt-card-text {
    font-size:20px;
}

.contributors .nt-card .nt-card-image img {
    height: 60px;
}

.contributors .nt-card .nt-card-image {
    min-height: 60px;
}

.md-typeset .admonition,
.md-typeset details {
  font-size: 14px
}


