:root > * {
  --md-primary-fg-color:        #0c3450ff;
  --md-accent-fg-color:         #eb8339ff;
  --md-typeset-a-color:         #047eaaff;
}

.md-banner {
  background-color: chocolate;
}

.nt-card {
    text-align: center;
    min-height: 200px;
}

  .nt-card .nt-card-image img{
    height:150px;
    margin-top:5px
}

  .nt-card-text{
    font-size:16px;
    padding:0;
    margin:0
}